/node_modules
/public/hot
/public/css/*
/public/fonts/*
/public/js/*
/public/storage
/public/mix-manifest.json
/storage/*.key
/vendor
.DS_Store
.env
.env.dev
.env.prod
.env.backup
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
capistrano.log
/log
deploy.php
