// color names from colorhexa.com
$very-dark-blue: #151b6e;
$very-dark-desaturated-blue: #2f3150;

$mostly-black-blue: #020126;
$mostly-black-blue-hover: rgba(02, 01, 26, 0.6);

$vivid-orange: #f6ae06;

$mostly-white-gray: #f7f7f7;
$mostly-white-gray-opaque: rgba(247, 247, 247, 0.6);

$very-light-gray: #e5e5e5;

$theme-colors: (
    "light": $mostly-white-gray,
    "dark": $mostly-black-blue,
    "primary": $vivid-orange,
);

.bg-light-gray {
    background-color: $very-light-gray !important;
}