/* =========================
FORM CONTROLS
==========================*/

.sd-text-input {
  font-size: 1rem;
  font-weight: bold;
  color: $very-dark-desaturated-blue;
  padding: 1.8rem 1rem;
}

.sd-text-input::placeholder {
  font-size: 1rem;
  font-weight: bold;
  color: $very-dark-desaturated-blue;
}

.sd-big-checkbox {

  label {
    padding-left: 0.875rem;
    font-weight: bold;
  }
}

.sd-big-button {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  height: calc(2.5em + 1rem + 2px);
  border-radius: 6px;


  &.full-width {

    width: 100%;

  }

  &.wide {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

/*=========================================
SDASH POPOVERS AND MODALS
==========================================*/
.sd-custom-popover {

  .popover-body {
    background-color: $mostly-white-gray;
  }

  .popover-header {
    background-color: $mostly-black-blue;
    color: $mostly-white-gray;

    .btn.close {
      position: relative;
      top: -5px;
    }
  }

  &.bs-popover-bottom > .arrow::after, .bs-popover-auto[x-placement^=bottom] > .arrow::after {
    border-bottom-color: $mostly-black-blue;
  }

  &.bs-popover-bottom .popover-header::before, .bs-popover-auto[x-placement^=bottom] .popover-header::before {
    border-bottom-color: $mostly-black-blue;
  }

  .btn.close {
    color: $mostly-white-gray;
  }

  a,
  a:focus,
  a:hover,
  a:active {
    color: $body-color !important;
    text-decoration: underline;
  }

}