$theme-colors: (
    "dark": #020126,
    "light": #F7F7F7,
);

:root {
    /* Colors: */
    --sdash-blue: #151B6E;
    --sdash-dark: #020126;
    --sdash-dark-hover: rgba(02, 01, 26, 0.6);
    --sdash-light: #F7F7F7;
}